/*:host /deep/ .btn-secondary,
:host /deep/ .ui-select-choices,
:host /deep/ .ui-select-search {
  font-size: 15px;
  border: 1px solid lightblue;
  border-radius: 10px;
  color: black;
  padding: 8px;
  width: 120px;
  -webkit-appearance: none;
  background-color: lightblue;
  background-transparency: 0.5;
  background-position: right 15px top 22px;
  background-size: 18px 18px;
  margin-left: 20px;
  margin-top: 8px;
}*/
